.playPause-button {
    -fx-background-image: url("../icons/play-button.png");
    -fx-background-size: 28 28;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.playPause-button:selected {
    -fx-background-image: url("../icons/pause-button.png");
}

/*.playPause-button:hover {
    -fx-background-color: #444;
}*/


.step-button {
    -fx-background-image: url("../icons/next-button.png");
    -fx-background-size: 28 28;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

/*.step-button:hover {
    -fx-background-color: #444;
}

.white-text {
    -fx-text-fill: white;
}*/