.playPause-button {
    -fx-background-image: url("../icons/playButtonIcon.png");
    -fx-background-size: 28 28;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.playPause-button:selected {
    -fx-background-image: url("../icons/pauseButtonIcon.png");
}



.step-button {
    -fx-background-image: url("../icons/nextButtonIcon.png");
    -fx-background-size: 28 28;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}